{%extends 'partials/layout.njk' %}
{% block content %}
    <h1>LearnVite!!!!!</h1>
    <button class="button is-primary">Click me!</button>
    <div class="notification is-primary mt-2">
        <button class="delete"></button>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem excepturi
        perspiciatis aperiam, libero minima dicta, veniam ea, dolore expedita
        impedit magnam reiciendis asperiores distinctio! Ut repudiandae quis
        fugiat ea dolores!
        <a> felis venenais</a> effecituy.
    </div>
{% endblock %}
